<mwl-calendar-month
  events="vm.events"
  view-date="vm.viewDate"
  on-event-click="vm.onEventClick"
  on-event-times-changed="vm.onEventTimesChanged"
  on-timespan-click="vm.onTimespanClick"
  on-date-range-select="vm.onDateRangeSelect"
  cell-is-open="vm.cellIsOpen"
  cell-modifier="vm.cellModifier"
  slide-box-disabled="vm.slideBoxDisabled"
  custom-template-urls="vm.customTemplateUrls"
  template-scope="vm.templateScope"
  cell-auto-open-disabled="vm.cellAutoOpenDisabled">
</mwl-calendar-month>
